@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:   "Poppins", sans-serif;
}

:root {
  --azul: #1c222e;
  --naranja: #f26d22;
  --blanco:rgb(255, 255, 255);
  --naranjaOscuro:#9a3821;
  --naranjaMasOscuro : #631c00;
  /* --grisFondo: #e4e0e0; */

  --grisFondo:#fff;
  --grisClaro:#F8F8F8;

  --grisOscuro:#676767;
}

body{
  background-color: #bbcdcd24;
}



/* NAVBAR */

.logo{
  width: 8rem;
}

.navbar{
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  padding: .5rem  5rem;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 0px 1px rgb(255, 255, 255);
  
  @media (max-width:860px) {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    padding: 1rem 0;
  }
}

.sticky {
  position: fixed;
}

.no-fija {
  position:relative;
}

.navegacion{
  display: flex;
  gap: 5rem;
  margin-bottom: -.6rem;
  @media (max-width: 690px) {
    gap: 1rem;
  }

}

.nav-item{
  list-style: none;
  a{
    font-size: 1rem;
    color: var(--naranja);
    font-weight: 500;
    text-decoration: none;
    @media (max-width: 580px) {
      font-size: .8rem;
    }
  }
}


/* Showcase */
.showcase
{
  width: 100%;
  height: 90vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  transition: 0.5s;

}


.showcase video
{
  width: 100%;
  height: 90vh;
  object-fit:cover;
  opacity: 0.5;

}

.info-container
{
  width: 100%;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 760px) {
    top: 10rem;
  }

}

.info-container h2
{
  font-size: 3em;
  color: var(--naranja);
  line-height: 1.6em;
  @media (max-width: 760px) {
    font-size: 30px;
    line-height: normal;
  }
}
.info-container h3
{
  font-size: 20px;
  color: white;
  line-height: 1.6em;
  letter-spacing: 5px;
  margin-bottom: 15px !important;
  text-transform: uppercase;
  @media (max-width: 760px) {
    font-size: 15px;
  }
}


.info-container .buscador-container{
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;

  
  
}


.alquiler-venta{
  display: flex;
  gap: 5%;
  width: 100%;
  margin-left: 2vw;
  @media (max-width: 760px) {
    margin-left: 30vw;
    gap: 2%;
  }
  
}

.alquiler-venta a{
  text-decoration: none;
  color: white;

}

.buscador{
  background-color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: .5rem ;
  border-radius:.5cap;

  @media (max-width: 760px) {
    flex-direction: column;
    width: 50vw;
    padding: 1.5rem;
    margin: 0 25vw;
  }
  
}

.buscador .buscar{
  background-color:var(--naranja);
  color: white;
  padding: .5rem 1rem ;
}

.buscador .vender{
  background-color:#ff9100;
  color: white;
  padding: .5rem 1rem ;
}




/* clase de utilidad para agregar animacion fadein */
.fadein{   
  -moz-animation: fadein linear both;
  -webkit-animation: fadein linear both;
  animation: fadein linear both;
  
  animation-timeline: view();
  animation-range: entry 20% cover 40%;

}

.fadein-derecha{   
  -moz-animation: fadein-derecha linear both;
  -webkit-animation: fadein-derecha linear both;
  animation: fadein-derecha linear both;
  
  animation-timeline: view();
  animation-range: entry 20% cover 30%;

}

.fadein-izquierda{  
  -moz-animation: fadein-izquierda linear both;
  -webkit-animation: fadein-izquierda linear both; 
  animation: fadein-izquierda linear both;
  
  animation-timeline: view();
  animation-range: entry 20% cover 30%;

}

.fadein-cohete{  
  -moz-animation: fadein-cohete linear both;
  -webkit-animation: fadein-cohete linear both; 
  animation: fadein-cohete linear both;
  
  animation-timeline: view();
  animation-range: entry 10% cover 40%;

}



/* animacion fadein */
@keyframes fadein{
  from{
    opacity: .3;
    -moz-transform: translate(0 500px);
    -webkit-transform: translate(0 500px);
    translate: 0 500px;
    
  }
  to{
    opacity: 1;
    -moz-transform: translate(0 0);
    -webkit-transform: translate(0 0);
    translate: 0 0;
    

  }
}

@keyframes fadein-derecha{
  from{

    opacity: .3;
    -moz-transform: translate(200px 0);
    -webkit-transform: translate(200px 0);
    translate: 200px 0;
    
  }
  to{
    opacity: 1;
    -moz-transform: translate(0 0);
    -webkit-transform: translate(0 0);
    translate: 0 0;
    

  }
}

@keyframes fadein-izquierda{
  from{
    opacity: .3;
    -moz-transform: translate(-200px 0);
    -webkit-transform: translate(-200px 0);
    translate: -200px 0;
    
  }
  to{
    opacity: 1;
    -moz-transform: translate(0 0);
    -webkit-transform: translate(0 0);
    translate: 0 0;
    

  }
}

@keyframes fadein-cohete{
  from{
    opacity: .3;
    -moz-transform: translate(-300px 300px);
    -webkit-transform: translate(-300px 300px);
    translate: -300px 300px;
    
  }
  to{
    opacity: 1;
    -moz-transform: translate(0 0);
    -webkit-transform: translate(0 0);
    translate: 0 0;
    

  }
}

/* social */
.social{
  position: fixed;
  top: 40%;
  left: 10px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.social  li{
  list-style: none;

}

.social a img{
  width: 3rem;
  &:hover{
    scale: 1.2;
  }
}




/* primer div */
.primer-div{
  display: flex;
  justify-content: center;
  padding: 5rem ;
  background-color: #F8F8F8;

}

.texto-primer-div{
  font-size: 2.5rem;
  color: var(--naranja);
  font-weight: 300;

  a{
    text-decoration: none;
  }
}

.link-primer-div{
  text-decoration: none;
  color: var(--naranjaOscuro);
  font-weight: 500;
}

.contenedor-primer-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  @media (max-width:710px) {
    flex-direction: column;
    gap: 2rem;
  }

}

.opciones-contenedor{
  display: flex;
  gap: 2rem;
  @media (max-width:710px) {
    gap: 1rem;
    
  }

  @media (max-width:460px) {
    flex-direction: column;
    
  }
}

.opcion{
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px 3px #f3e4c7;
  border-radius: .4cap;
  align-content: center;
  text-align: center;
  padding: 1rem ;
  transition: .8s;

  &:hover{
    box-shadow: 1px 1px 3px 3px #ffa154;
    cursor: pointer;
    scale: 1.1;
  }
  
}



.imagen-opcion{
  width: 3rem;
  
}

.texto-opcion{
  font-size: 1rem;
  margin-top: 1rem;
  color:var(--naranjaOscuro);
}





/* tercer div */
.tercer-div{
  
  padding: 5rem 1rem;
  background-color: var(--naranja);
  @media (max-width:500px) {
      padding: 5rem 1rem;
  }
}
.contenedor-tercer-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.texto-tercer-div{
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  @media (max-width:500px) {
      font-size: 2rem;
  }

}

.cohete{
  width: 20rem;
  @media (max-width:500px) {
      width: 15rem;
  }
}



/* septimo div */
.septimo-div{
  padding: 5rem ;
  background-color: #F8F8F8;
  @media (max-width:1000px) {
      padding: 2rem;
  }

  .texto-septimo-div{
      margin: 3rem 0;
      color: var(--naranja);
      font-size: 2.5rem;
      font-weight: 400;
      text-align: center;
      @media (max-width:1000px) {
          font-size: 2rem;
      }
  }
  
  .grid-tarjetas{
      /* margin: 1rem; */
      display: flex;
      justify-content: center;
      /* gap: 2rem; */
      @media (max-width:1000px) {
          flex-direction: column;
          align-items: center;
      }
  }

  .tarjeta{
      text-align:center;
      align-content: center;
      margin: 2rem 1rem;
      line-height: normal;
      padding: 1rem;
      border-radius: .5cap;
      width: 30rem;
      height: 20rem;
      box-shadow: 2px 2px 5px #e1aca0;
      @media (max-width:1000px) {
          width: 100%;
          padding: 2.5rem 1rem;
      }

      h3{
          font-size: 2rem;
          font-weight: 500;
          @media (max-width:1000px) {
              font-size: 1.5rem;
          }

          
      }
      p{
          font-size: 1.2rem;
          font-weight: 300;
          @media (max-width:1000px) {
              font-size: 1rem;
          }

      }
  }



  .tar-1{
      background-color: #ffffff;
      color: #ff9100;
  }

  .tar-2{
      background-color: var(--naranja);
      color: white;
      /* h3{
          font-size: 2.2rem;
          @media (max-width:450px) {
            font-size: 1.5rem ;
            
          }
      } */
  }

  .tar-3{
      background-color:#ffae00;
      color:white;
  }

  .tar-4{
      background-color: #ffffff;
      color: #ff9100;
  }

  
}

/* parallax */


.parallax {
  background-image: url(imagenes/casa3-oscura.jpeg);

  /* Set a specific height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
}

.casa{
  width:40%;
  height:30% ;
  border-radius: .5cap;
  @media (max-width:800px) {
    width: 80%;
  }
}

.info-seccion{
  display: flex;
  margin: 20% 10%;
  align-items: center;
  color: #ff9100;
  gap: 5%;
  @media (max-width:800px) {
    flex-direction: column;
  }
}


.titulo-seccion{
  font-size: 3.5rem;
  @media (max-width:800px) {
    font-size: 1.5rem;
  }
}

.texto-seccion{
  font-size: 1.5rem;
  @media (max-width:800px) {
    font-size: 1rem;
  }
}






/* -------------       FOOTER      -----------  */
.footer{
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background-color: #F8F8F8;
  color:var(--naranja);
}